:root {
  --bg-blue: #00a8f0;
  --bg-green: #60ff50;
  --bg-red: #ff4040;
  --bg-yellow: #ffa000;
}

body {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}

body.red, .red button, .card-portion.red, #picker-red {
  background-color: var(--bg-red);
}

body.yellow, .yellow button, .card-portion.yellow, #picker-yellow  {
  background-color: var(--bg-yellow);
}

body.blue, .blue button, .card-portion.blue, #picker-blue {
  background-color: var(--bg-blue);
}

body.green, .green button, .card-portion.green, #picker-green {
  background-color: var(--bg-green);
}

#menu {
  margin: 0;
}

#menu h1 {
  margin-top: 0;
  position: absolute;
  top: 16px;
  right: 16px;
}

#menu ul {
  bottom: 0px;
  font-size: 25vmin;
  left: -3vmin;
  line-height: 90%;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  position: absolute;
}

#menu ul li {
  color: rgba(0.0, 0.0, 0.0, 0.0);
  -webkit-text-stroke: 1px #000;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.04, 0.84, 0.16, 0.96);
  cursor: pointer;
}

#menu ul li a {
  text-decoration: none;
  color: inherit;
}

#menu ul li.selected {
  color: #000;
}

#joingame {
  width: 0px;
  height: 100%;
  background-color: #000;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.7, 0.0, 0.3, 1.0);
}

#joingame.transition {
  width: 100%;
}

.bg-black {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue h2 {
  color: var(--bg-blue);
}

.yellow h2 {
  color: var(--bg-yellow);
}

.red h2  {
  color: var(--bg-red);
}

.green h2  {
  color: var(--bg-green);
}

h2 {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-size: 12vmin;
  margin: 0;
}

#name-entry {
  background-color: black;
  border: 0;
  margin: auto;
  display: block;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-family: "Roboto Mono";
  font-size: 2em;
  color: white;
}

#name-entry:focus {
  outline: none;
  border-bottom-color: white !important;
}

#name-entry-container {
  position: relative;
}

#pre-game {
  position: relative;
}

.link-info {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 0.6em;
  padding: 16px 16px;
  line-height: 80%;
  z-index: 5;
}

.link-info, #error-container p {
  color: white;
}

p {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
}

button {
  margin: 0 auto;
  margin-top: 16px;
  width: 40%;
  font-size: 1.2em;
  border-radius: 0px;
  border: 0;
  font-family: "Roc Grotesk Wide", sans-serif;
  font-weight: 600;
  padding: 4px 0;
  display: block;
}

#ready-button {
  width: 15%;
  min-width: 120px;
  padding: 6px 16px;
}

#ready-button.readied {
  background-color: black;
  color: white;
  padding: 4px 14px;
}

.red #ready-button.readied {
  border: 2px solid var(--bg-red);
}

.yellow #ready-button.readied {
  border: 2px solid var(--bg-yellow);
}

.green #ready-button.readied {
  border: 2px solid var(--bg-green);
}

.blue #ready-button.readied {
  border: 2px solid var(--bg-blue);
}

.blue #name-entry {
  border-bottom-color: var(--bg-blue);
}

.yellow #name-entry {
  border-bottom-color: var(--bg-yellow);
}

.red #name-entry {
  border-bottom-color: var(--bg-red);
}

.green #name-entry {
  border-bottom-color: var(--bg-green);
}

.hidden {
  display: none;
}

#player-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ready-state-pair {
  width: 60%;
  display: flex;
  margin-bottom: 2px;
}

.ready-state {
  display: inline-block;
  color: white;
  margin: 0 2px;
  width: 100%;
  background-color: black;
  border: 2px solid white;
  text-align: center;
}

.ready-state.ready {
  color: black;
  background-color: white;
}

#game-window {
  position: absolute;
  overflow: hidden;
  background-color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: 15;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0.7, 0.0, 0.3, 1.0);
}

#game-window.myturn {
  background-color: black;
}

#player-card-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#game-window.reveal {
  width: 100%;
}

.player-card {
  width: 240px;
  height: 200px;
  position: relative;
}

.player-card .player-name {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  font-family: "Roboto Mono", monospace;
  border: 2px solid black;
  background-color: white;
  padding: 8px;
  text-align: center;
  margin: 0;
  z-index: 25;
}

.player-card .card-ext {
  bottom: 0;
  z-index: 16;
}

#draw-pile .card-ext {
  left: 0;
}

#discard-pile .card-ext {
  right: 0;
}

#my-cards {
  width: 35%;
  position: absolute;
  left: 50%;
  bottom: 96px;
  transform: translate(-50%, 0);
}

#my-cards .card-ext {
  position: absolute;
  z-index: 35;
  transition-duration: 1.0s;
  transition-timing-function: cubic-bezier(0.04, 0.84, 0.16, 0.96);
}

#my-cards .card-ext.hover {
  transform: translate(0, -75%);
}

#card-piles {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 512px;
}

#discard-pile {
  left: 0;
}

#draw-pile {
  right: 0;
}

/** card appearance **/

.card-color-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-portion {
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
}

.card-ext {
  position: absolute;
  width: 36%;
  padding-top: 51.8%;
  padding-left: 4px;
  padding-right: 4px;
  background-color: black;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.card-int {
  position: absolute;
  left: 4px;
  top: 4px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  background-color: black;
}

.digit-container {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-digit-tr, .card-digit-bl {
  font-size: 200%;
  position: absolute;
}

.card-digit-bl {
  rotate: 180deg;
}

.card-digit-ct {
  font-size: 500%;
}

.card-digit-tr {
  top: 5%;
  left: 5%;
}

.card-digit-bl {
  bottom: 5%;
  right: 5%;
}

.card-ext.red .card-int {
  border-color: var(--bg-red);
  color: var(--bg-red);
}

.card-ext.green .card-int {
  border-color: var(--bg-green);
  color: var(--bg-green);
}

.card-ext.yellow .card-int {
  border-color: var(--bg-yellow);
  color: var(--bg-yellow);
}

.card-ext.blue .card-int {
  border-color: var(--bg-blue);
  color: var(--bg-blue);
}

#game-window .player-card {
  position: absolute;
}

.player-card.playing .player-name {
  background-color: black;
  color: white;
}

#opp1 {
  bottom: 32px;
  left: 32px;
}

#opp2 {
  left: 32px;
  top: 50%;
  transform: translate(0%, -50%);
}

#opp3 {
  top: 32px;
  left: 32px;
}

#opp4 {
  top: 32px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#opp5 {
  top: 32px;
  right: 32px;
}

#opp6 {
  right: 32px;
  top: 50%;
  transform: translate(0%, -50%);
}

#opp7 {
  right: 32px;
  bottom: 32px;
}

#color-picker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: white;
  border-radius: 8px;
  color: black;
  z-index: 1000;
  border: 4px solid black;
}

#color-picker p {
  text-align: center;
}

#colors {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
}

#colors div {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 4px solid black;
}

#warn {
  position: absolute;
  text-align: right;
  right: 16px;
  bottom: 16px;
  font-family: "Roboto Mono", monospace;
  transition-duration: inherit;
  transition-timing-function: inherit;
  color: black;
  white-space: pre-line;
}

.myturn #warn {
  color: white;
}

#win-info, #win-container {
  position: absolute;
}

#win-info {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#win-container {
  bottom: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.7, 0.0, 0.3, 1.0);
  z-index: 1000;
  overflow: hidden;
}

#win-container.reveal {
  height: 100%;
}

